.THIS .grid-container
    {
        display: grid;
        background-color: #eee;
        grid-template-columns: repeat(auto-fill,minmax(170px,1fr)); 
        margin-left: 10px;
        margin-right: 10px;
        margin: 5px;
        border-radius:5px;
        
    }
    
   .THIS .font-color-style
    {
        font-size: 12px;
        font-weight: 700;
        padding-left: 15px;
    }
    .THIS.button-style
    {
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .THIS.inner-element-font
    {
        font-size: 18px;
        font-weight: 400;
    }